{% extends "momma/base.html" %}
{% block content %}


  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">About</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
          <span data-feather="calendar"></span>
          This week
        </button>
      </div>
    </div>
      <p> The idea behind flumoo came during a postgraduate accounting class in the spring of 2015. I had been studying financial analysis, securities markets, and investment strategy, and was intrigued by my readings of Warren Buffet. Naturally, as a business student, I would find Buffet compelling. In discovering his approach to investing, I learned of his method, the meticulous dissections of thousand of financial statements and reports. Documents like the 10K, balance sheet, newspaper clippings, and tax documents ultimately served as the launching point for investments valued in the millions.

flumoo was born one day while my mind was wondering in class. my brain has been slowly ruminating on this concept for the previous couple of months and my natural creativity would frequently spark up various revelations every so often. one day, my mind landed on the question of how to download all of the financial data Warren Buffet would be interested in and use the computer to sort through the data to answer the questions I would have, questions about cash flow, debt situations, income statement attributes, among others.  </p>
      <small> Jay Kelly, Creator</small>


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
<h1 class="h2">Glossary</h1>
<div class="btn-toolbar mb-2 mb-md-0">
</div>
</div>
      <h4> Top To Bottom Ratio</h4>
      <p> After all is said and done, how much did it cost the firm to make its profit</p>
      <h4> Organizational Lean Ratio</h4>
      <p> How much excess is spent operating the business  </p>
      <h4> Dominance  Ratio</h4>
      <p> How expensive is the process of obtaining and making the firm's product or service  </p>
                        <h4> Behind The Scenes  Ratio</h4>
<p> How is the firm moving its non-operating cash around </p>
       <h4> Assets</h4>
<p> Physical Cash, Checking Account, Savings Account, Certificates of Deposit,
    Money Market Accounts, Treasury bills. Property/Land, Inventory, Equipment,
    Receivables, Goodwill, IP
</p>
             <h4> Ending Cash Position</h4>
<p> The amount of cash the firm has on hand, at that moment in time. This
    cash position is a sign of financial strength and liquidity of the firm,
    representing the ability of the firm to meet its current liabilities. Cash is
    the most liquid type of asset and a large portion in a valuable currency such
    as the US Dollar, Japanese Yen, or Swiss Franc will provide maximum utility in
    the marketplace. The value of currency declines as interest rates are low because
    access to more cash is relatively cheap. Hence, cash, the most liquid asset, is especially
    prized during times of high interest rates.
</p>



{% endblock content %}