{% extends "momma/base.html" %}
{% block content %}


  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Health Index</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
          <span data-feather="calendar"></span>
          This week
        </button>
      </div>
    </div>

      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Equity</th>
              <th>Revenue</th>
              <th>Operating Cash </th>
              <th>Net Income </th>
              <th>Operating Cash</th>

            </tr>
          </thead>

          <tbody>
            <tr>
              <td>BAC</td>
              <td>WMT</td>
              <td>0</td>
              <td>0</td>
              <td>XOM</td>
            </tr>
            <tr>
              <td>JPM</td>
              <td>AMZN</td>
              <td>11/03/2020</td>
              <td>$51.58</td>
              <td>Equity, Operating Cash Flow</td>
            </tr>
            <tr>
              <td>T </td>
              <td>AAPL</td>
              <td>11/03/2020</td>
              <td>$237.40</td>
              <td>Equity, Ending Cash Position, Operating Cash Flow</td>
            </tr>
            <tr>
              <td>GOOG</td>
              <td>CVS</td>
              <td>11/03/2020</td>
              <td>$1897.74</td>
              <td>Equity, Health Ratio, Ending Cash Position, Operating Cash Flow </td>
            </tr>
            <tr>
              <td>CSCO</td>
              <td>MCK</td>
              <td>11/03/2020</td>
              <td>$42.18</td>
              <td>Operating Cash Flow</td>
            </tr>
            <tr>
              <td>TXN</td>
              <td>ABC</td>
              <td>11/03/2020</td>
              <td>$169.40</td>
              <td>N/A</td>
            </tr>
            <tr>
              <td>JNJ</td>
              <td>COST</td>
              <td>11/03/2020</td>
              <td>$159.28</td>
              <td>Equity, Operating Cash Flow</td>
            </tr>
            <tr>
              <td>NVDA</td>
              <td>CI</td>
              <td>11/03/2020</td>
              <td>$598.90</td>
              <td>Health Ratio </td>
            </tr>
            <tr>
              <td>PG</td>
              <td>$141.22</td>
              <td>11/03/2020</td>
              <td>$162.40</td>
              <td>Operating Cash Flow</td>
            </tr>
            <tr>
              <td>CME</td>
              <td>$153.48</td>
              <td>11/03/2020</td>
              <td>$176.50</td>
              <td>Dominance Ratio, Top To Bottom Ratio </td>
            </tr>
            <tr>
              <td>VRTX</td>
              <td>$211.14</td>
              <td>11/03/2020</td>
              <td>$242.81</td>
              <td>Heatlh Ratio, Top To Bottom Ratio</td>
            </tr>
            <tr>
              <td>ATVI</td>
              <td>$76.26</td>
              <td>11/03/2020</td>
              <td>$87.70</td>
              <td>N/A</td>
            </tr>
            <tr>
              <td>PSA</td>
              <td>$235.48</td>
              <td>11/03/2020</td>
              <td>$270.80</td>
              <td>Health Ratio </td>
            </tr>
            <tr>
              <td>ADBE</td>
              <td>$454.02</td>
              <td>11/03/2020</td>
              <td>$522.12</td>
              <td>Dominance Ratio</td>
            </tr>
            <tr>
              <td>ALXN</td>
              <td>$117.02</td>
              <td>11/03/2020</td>
              <td>$134.57</td>
              <td>Dominance Ratio</td>
            </tr>
            <tr>
              <td>PFE</td>
              <td>$36.19</td>
              <td>11/03/2020</td>
              <td>$41.62</td>
              <td>Equity, Operating Cash Flow, Dominance Ratio</td>
            </tr>
          </tbody>
        </table>
      </div>

{% endblock content %}